.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes slideUp {
  from {
    transform: translate3d(0, 100%, 0);
  }

  to {
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}


@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.8, .8, .8);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomOut {
  from {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  50% {
    opacity: 1;
    transform: none;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

@keyframes zoomInBounce {
  from {
    opacity: 0;
    transform: scale3d(.9, .9, .9);
    animation-timing-function: ease-out;
  }

  40% {
    transform: scale3d(1.1, 1.1, 1.1);
    animation-timing-function: ease-out;
  }

  60% {
    transform: scale3d(0.95, 0.95, 0.95);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  to {
    transform: none;
    animation-timing-function: ease-out;
  }
}

.zoomInBounce {
  animation-name: zoomInBounce;
}


@keyframes rotate{
 100%{
  transform: rotate(360deg);
 }
}

@keyframes preloadpath{
 0%{
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
 }
 50%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35;
 }
 100%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124;
 }
}