<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/assets/css/main.css">
	</head>
	<body>
		{% block content %}{% endblock %}
		<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="/assets/js/main.js"></script>
	</body>
</html>